/* body{
    background-color:burlywood;
} */

/* Universal selector */
*{
    background-color:aliceblue
}

/* Grouping Selector */
h1,  h3, p, #hey{
    background-color:skyblue;
}

/* specific koi tag ka colour change karna hai and multiple times woh tag use hue toh we can use h2 yaa fir select tag + attribute value */
h2[draggable="true"]{
    background-color: red;
}

/* select by descendent */

/* section p{
    background-color: aqua;
} */


/* select by child */

section > p{
    background-color: aqua;
}